<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card h-100">
          <img src="<%= product.product_image %>" class="card-img-top" alt="<%= product.product_name %>">
          <div class="card-body">
            <h5 class="card-title"><%= product.product_name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><strong>$<%= product.price %></strong></P>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>